*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
form{
    padding:100px;
    width:300px;
    background-color: aquamarine;

}
.signupform{
    
}
.icons{
    display: flex;   
    gap:1em
}